@import "../../../template.scss";

footer {
    width: 100%;
    height: 50px;
    background: $bg2;

    div.wrap {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }

    h1 {
        font-size: 18px;
        font-weight: 300;
        padding: 15px 30px;
    }

    div.link-roll {
        display: flex;
        align-items: center;
    }

    a.link {
        padding: 15px 30px;
        color: $fg1;
    }

    @media (max-width: $mobile) {
        height: auto;
        div.wrap {
            display: block;
            height: auto;

            h1 {
                text-align: left;
                font-size: 18px;
                padding: 10px 25px;
            }

            div.link-roll {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                a.link {
                    display: flex;
                    justify-content: space-between;
                    width: 320px;
                    padding: 10px 0;
                    font-size: 12px;
                    font-weight: bold;
                    i {
                        width: 30px;
                    }
                }
            }
        }
    }
}
