<footer>
  <div class="wrap">
    <h1>📉 Put versus Call 📈</h1>

    <div class="link-roll">
      <a class="link easing" target="https://github.com/ChrisCates/PutVersusCall" href="https://github.com/ChrisCates/PutVersusCall">
        <i class="fab fa-github"></i>
        PutVersusCall
      </a>
      <a class="link easing">
        <i class="fas fa-envelope-open-text"></i>
        hello@chriscates.ca
      </a>
      <a class="link easing">
        <i class="far fa-copyright"></i>
        Chris Cates, 2019
      </a>
    </div>

  </div>
</footer>
