<div class="options-option-wrap">
    <a class="options-option easing" (click)="this.ticker.tab = 'conversation'" [class.active]="this.ticker.tab === 'conversation'">
        Conversation
    </a>
    <a class="options-option easing" (click)="this.ticker.tab = 'spreads'" [class.active]="this.ticker.tab === 'spreads'">
        Spreads
    </a>
    <a class="options-option easing" (click)="this.ticker.tab = 'options'" [class.active]="this.ticker.tab === 'options'">
        Options Chain
    </a>
</div>
