<div class="create-spread">
  <div class="description">
    <p>Title</p>
    <input type="text" [(ngModel)]="this.form.title"/>
    <p>Description</p>
    <textarea [(ngModel)]="this.form.description"></textarea>
  </div>

  <a class="publish-button easing" (click)="this.submit();">
    Publish Spread
  </a>

  <div class="spread-options smaller">
    <a class="spread-option easing" (click)="this.select.one = !this.select.one">
        For Expiry: {{this.form.expiry ? this.form.expiry : this.ticker.activeExpiry}}
        <div class="spread-select easing" [class.active]="this.select.one">
            <a
            class="select-option easing"
            *ngFor="let expiry of this.ticker.options.expiry"
            (click)="this.form.expiry = expiry;">{{expiry}}</a>
        </div>
    </a>
    <a class="spread-option easing" (click)="this.ticker.options.itm = 4; this.ticker.sortStrikes();" [class.active]="this.ticker.options.itm === 4">
      4 from ITM
    </a>
    <a class="spread-option easing" (click)="this.ticker.options.itm = 8; this.ticker.sortStrikes();" [class.active]="this.ticker.options.itm === 8">
      8 from ITM
    </a>
    <a class="spread-option easing" (click)="this.ticker.options.itm = 16; this.ticker.sortStrikes();" [class.active]="this.ticker.options.itm === 16">
      16 from ITM
    </a>
    <a class="spread-option easing" (click)="this.ticker.options.itm = -1; this.ticker.sortStrikes();" [class.active]="this.ticker.options.itm === -1">
      All Strikes
    </a>
  </div>

  <div class="strike-price easing" *ngFor="let strike of this.ticker.options.itmStrikes; let i = index;">
    <a class="sp-button easing" (click)="this.update(strike, 'put', 'sell')" [class.active-red]="this.isActive(strike, 'put', 'sell')">
      Sell
    </a>
    <a class="sp-button easing" (click)="this.update(strike, 'put', 'buy')" [class.active-green]="this.isActive(strike, 'put', 'buy')">
      Buy
    </a>
    <a class="sp-button easing">
      Put
    </a>
    <input type="number" placeholder="#" (input)="this.updateAmount($event, strike, 'put')"/>
    <p class="sp">{{strike}}</p>
    <input type="number" placeholder="#" (input)="this.updateAmount($event, strike, 'call')"/>
    <a class="sp-button easing">
      Call
    </a>
    <a class="sp-button easing" (click)="this.update(strike, 'call', 'buy')" [class.active-green]="this.isActive(strike, 'call', 'buy')">
      Buy
    </a>
    <a class="sp-button easing" (click)="this.update(strike, 'call', 'sell')" [class.active-red]="this.isActive(strike, 'call', 'sell')">
      Sell
    </a>
  </div>
</div>
