@import "../../../template.scss";

div.spread-options {
    display: flex;
    align-items: center;
    height: 70px;
    padding: 0px 7.5px;

    a.spread-option {
        position: relative;
        display: flex;
        align-items: center;
        padding: 0 15px;
        margin: 0 7.5px;
        height: 40px;
        background: $bg3;
        border-radius: 5px;
        cursor: pointer;
        &:hover { background: $bg2; }
        &.active { background: $bg5; }

        div.spread-select {
            position: absolute;
            left: 0;
            top: 40px;
            width: 100%;
            border-radius: 5px;
            background: $bg3;
            overflow: hidden;
            opacity: 0;
            pointer-events: none;
            &.active {
                opacity: 1;
                pointer-events: inherit;
            }

            a.select-option {
                display: flex;
                align-items: center;
                width: 100%;
                height: 30px;
                padding: 0 10px;
                &:hover { background: $bg5; }
            }
        }
    }

    &.smaller {
        justify-content: center;
        height: 50px;
        a.spread-option {
            height: 30px;
            font-size: 12px;
            font-weight: bold;
        }
    }
}

div.create-spread {
    padding: 0 0 45px 0;
}

a.publish-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px auto 30px auto;
    width: 240px;
    height: 60px;
    border-radius: 5px;
    background: $bg2;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    &:hover { background: $bg5; }
}

div.description {
    padding: 15px;
    p {
        font-size: 14px;
        margin: 0 0 5px 0;
    }
    textarea, input {
        width: 100%;
        height: 80px;
        background: $bg2;
        color: $fg1;
        border: none;
        border-radius: 5px;
        font-size: 14px;
        padding: 5px 15px;
    }
    input {
        font-size: 18px;
        font-weight: bold;
        height: 40px;
        margin: 0 0 15px 0;
    }
}

div.strike-price {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px 0;
    input {
        width: 90px;
        height: 30px;
        border-radius: 5px;
        background: $bg2;
        color: $fg1;
        border: none;
        font-size: 18px;
        text-align: center;
        padding-left: 5px;
    }
    p.sp {
        font-size: 18px;
        font-weight: bold;
        padding: 0 15px;
    }
    a.sp-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90px;
        height: 30px;
        border-radius: 5px;
        background: $bg3;
        margin: 0 15px;
        cursor: pointer;
        &:hover { background: $bg2; }
        &.active { background: $bg5; }
        &.active-red { background: $red; }
        &.active-green { background: $green; }
    }
}
