<header>
  <div class="wrap">
    <a routerLink="/">
      <h1>📉 Put versus Call 📈</h1>
    </a>

    <a class="menu-button easing" (click)="this.toggle = !this.toggle" [class.active]="this.toggle">
      <i class="fas fa-ellipsis-h"></i>
    </a>

    <div class="menu easing" (click)="this.toggle = false;" [class.active]="this.toggle">
      <a class="menu-item easing" routerLink="/" [class.active]="!this.session.active">
        Home
        <i class="fas fa-home"></i>
      </a>
      <a class="menu-item easing" routerLink="/search" [class.active]="this.session.active">
        Search
        <i class="fas fa-search"></i>
      </a>
      <a class="menu-item easing" routerLink="/profile" [class.active]="this.session.active">
        Profile
        <i class="far fa-id-badge"></i>
      </a>
      <a class="menu-item easing" (click)="this.session.logout()" [class.active]="this.session.active">
        Logout
        <i class="fas fa-sign-out-alt"></i>
      </a>
    </div>
  </div>
</header>
